@import "tailwindcss";

body {
  background-color: #0f0f0f;
  color: #ffffff;
}

.noise-layer {
  background-image: repeating-radial-gradient(
    circle at 0 0,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
  background-size: 3px 3px;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}
